body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}
.container
{
    min-height: 80vh;
    width: 60%;
    border: 4px solid black;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px white;
    position: relative;
    background: url("./1.jpg") center/cover fixed no-repeat;
}
.btn-left
{
    position: absolute;
    top: 50%;
    left:-2%;
    background-color:goldenrod;
    padding: .4em .6em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}
.btn-right
{
    position: absolute;
    top: 50%;
    right:-2%;
    background-color:goldenrod;
    padding: .4em .6em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}